img/data_table_talk.png filter=lfs diff=lfs merge=lfs -text
img/Matt[[:space:]]Dowle's[[:space:]]_data.table_[[:space:]]talk_part.mkv filter=lfs diff=lfs merge=lfs -text
img/Matt[[:space:]]Dowle's[[:space:]]_data.table_[[:space:]]talk[[:space:]]at[[:space:]]useR[[:space:]]2014[[:space:]](1080p_30fps_H264-128kbit_AAC).mp4 filter=lfs diff=lfs merge=lfs -text
datatable.html filter=lfs diff=lfs merge=lfs -text
data/bench_datatable_1.rda filter=lfs diff=lfs merge=lfs -text
data/bench_datatable_2.rda filter=lfs diff=lfs merge=lfs -text
data/bench_r_3.rds filter=lfs diff=lfs merge=lfs -text
data/dat_all_df.rds filter=lfs diff=lfs merge=lfs -text
data/bench_r_1.rds filter=lfs diff=lfs merge=lfs -text
data/bench_r_2.rds filter=lfs diff=lfs merge=lfs -text
